@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat&family=Ruda:wght@700&family=Secular+One&family=Source+Sans+Pro&family=Titan+One&display=swap');
:root {
  --main: white;
  --alternative-main: rgb(240, 240, 255);
  --secondary: rgb(220, 5, 127);
  --tertiary: rgb(235, 201, 4);
  --contrast: black;
  --contrastSoft: rgb(1, 9, 24);
}
a{
  color: inherit;
  outline: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--main);
  color: var(--contrast);
}

p,
span,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: var(--contrastSoft);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


* {
  outline: none;
  font-family: 'Titan One', cursive;
  font-weight: 500;
  box-sizing: border-box;
}


div,
section {
  transition: 1s;
}

article {
  transition: 0;
}

.image-logo {
  position: relative;
  width: calc(7vw + 5rem + 10px);
  height: calc(2vw + 2rem + 10px);
}

nav {
  padding: 1rem 5vw;
  height: calc(6rem + 10px);
  background-color: var(--main);
  color: var(--contrast);
  font-family: 'Rubik', sans-serif;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: 1s;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px var(--contrast);
}

nav h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 65vw;
  font-size: calc(1vw + 1vh + 10px);
  background: -webkit-linear-gradient(rgb(220, 5, 127), rgb(235, 201, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav h2 span{
  font-size: calc(2vw + 2vh + 10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav.solidBack {
  background-color: var(--main);
}

.pagina {
  margin-top: calc(6rem + 10px);
  background-color: var(--alternative-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 5vw;
}

.pagina h2 {
  font-size: calc(2vw + 1rem + 1vh);
}

section .button.white-button{
  font-size: clamp(20px, 1vmax, 1vmax);  
}

@media screen and (max-width: 650px) {
  nav {
    position: sticky;
    background-color: var(--main);
  }
  .button text{
    display: none;
  }

  .pagina {
    margin-top: 0;
  }
}

button {
  transition: 1s;
}

.button {
  cursor: pointer;
  padding: 10px;
  transition: .5s;
  border-radius: 5px;
}

nav .button {
  font-size: calc(1vmax + 1rem - 5px);
}

.nav-btns {
  display: flex;
  gap: 15px;
  flex-direction: row;
}



.slider {
  height: calc(40vw + 20rem);
  width: 100vw;
  margin-bottom: 2rem;
}

.img-slide {
  height: calc(35vw + 20rem);
  width: 100vw;
  z-index: -1;
  position: relative;
}

.slider-header {
  position: absolute;
  height: calc(28vw + 20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: var(--main);
  text-align: center;
  z-index: 2;
}

.slider-header div {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: clamp(300px, 60vw, 60vw);
  padding: 1rem 5%;
}

.slider-header h2 {
  margin: 1rem auto;
  font-size: calc(1rem + 1vw + 1vh + 10px);
}

.slider-header h5 {
  color: var(--main);
  margin: auto 0 1rem 0;
  font-size: calc((1rem + 1vw + 1vh + 10px) / 2);
}

.button {
  color: var(--main);
  border: none;
  background-image: linear-gradient(var(--secondary), var(--tertiary));
  font-size: calc((1rem + 1vw + 1vh + 10px) / 1.6);
}

.about {
  margin: 2rem 5vw;
  padding: 2rem 0;
  display: flex;
  position: relative;
  background-color: var(--main);
  flex-direction: column;
  border-radius: 10%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about h2,
.simple-h2 {
  color: var(--contrast);
  margin: 10px 0;
  padding: 0;
  font-size: calc(1rem + 1vw + 1vh);
}

.about p {
  width: clamp(300px, 60%, 60%);
  margin-top: 0;
  padding-top: 0;
  color: var(--contrast);
}

.about .button {
  margin: 1rem auto calc(1rem + 10px) auto;
}

.restaurant {
  position: relative;
  width: clamp(300px, 50vw, 50vw);
  height: clamp(200px, calc(50vw * .6), calc(50vw * .6));
}

.restaurant img {
  border-radius: 10px;
}

.section {
  padding: 2rem 5vw;
  background-color: var(--contrastSoft);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.section.alternative-back {
  background-color: var(--alternative-main);
}

.section iframe {
  width: clamp(300px, 50vw, 50vw);
  height: clamp(200px, 50vh, 50vh);
  box-shadow: 0 0 10px var(--main);
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
}

.section p {
  margin: 5px 0;
  font-size: calc(1vh + 1rem);
  color: var(--contrastSoft);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(1rem + 10px) 5vw;
  justify-content: center;
  background-color: var(--main);
  gap: 1rem;
  box-shadow: 0 0 5px var(--contrast);
}

footer a {
  display: flex;
  align-items: center;
  font-size: calc(3rem + 1vw);
}

.facebook {
  color: #4267B2;
}

.instagram {
  color: #FD1D1D;
}

.whatsapp {
  color: #25D366;
}

.recomendations h3 {
  padding: 1rem 5vw;
  font-size: calc(1rem + 1vw);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.recomendations span {
  font-size: calc((1rem + 1vw + 10px) * 0.5);
}

.recomendations {
  box-shadow: 0 0 5px var(--secondary);
}

.custom-shape-divider-top-1670423651 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670423651 svg {
  position: relative;
  display: block;
  transform: rotate(180deg);
  width: calc(100% + 1.3px);
  height: 92px;
}

.custom-shape-divider-top-1670423651 .shape-fill {
  fill: var(--alternative-main);
}

.cart-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.cart-grid div {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 80%, 80%);
  border-radius: 10px;
  padding: 10px 15px;
}
.cart-grid h3 {
  margin: 1rem 0 ;
  font-size: calc(1vw + 1vh + 1rem);
}
.cart-grid i{
  font-size: calc(3vw + 3vh + 4rem);
  color: var(--secondary);
}
.cart-grid ul{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
.cart-grid ul li{
  border-radius: 10px;
  width: clamp(280px, 30%, 30%);
  height: auto;
  background-color: var(--main);
  box-shadow: 0 0 10px var(--contrastSoft);
}
.cart-grid img{
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cart-grid ul li section{
  padding: 1rem 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cart-grid ul li section strong, .cart-grid ul li section button{
  font-size: calc(1vh + 1rem);
}
.cart-grid ul li section strong:first-child{
  font-size: calc(2vh + 1rem);
}
.carrito{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carrito div{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--main);
  border-radius: 10px;
  width: 70%;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px var(--contrast);
}
.carrito img{
  border-radius: 10px;
  width: 300px;
  height: auto;
}
.carrito div section{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
}
.carrito div section strong{
  font-size: calc(1vw + 1vh + 10px);
  margin-bottom: 10px;
}
.counter{
  display: flex;
  align-items: center;
  font-size: clamp(calc(1rem + 5px), calc(1vmax + 5px), calc(1vmax + 5px));
  gap: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid var(--secondary);
}
.counter button{
  background-color: var(--secondary);
  font-size: clamp(calc(1rem + 5px), calc(1vmax + 5px), calc(1vmax + 5px));
  border: none;
  color: var(--main);
  padding: 5px 10px;
}
@media screen and (max-width: 700px){
  .carrito div{
    flex-direction: column;
  }
  .carrito div img{
    width: 100%;
  }
  .carrito div section{
    align-items: center;
    text-align: center;
  }
}
.total{
  font-size: calc(2vmin + 1rem);
  font-weight: 600;
}
.button:hover,
.button.white-button:hover {
  transform: scale(1.05);
}
.button.white-button:hover{
  color: var(--secondary);
}

.button.white-button {
  color: var(--contrast);
  background-color: var(--alternative-main);
}
.button.white-button.selected{
  border: 3px solid var(--secondary);
  transform: scale(1.05);
}
.button.white-button.selected span{
  color: var(--secondary);
}